body { background-color: #fff; margin: 10px; font-size: 16x; font-family: Arial, Verdana; }
.code-box { border: 1px solid #999; padding: 10px; width: 75%; overflow: scroll; margin-top: 20px; }
code { white-space: pre; color: #333; }
h3 { margin: 2em 0 1em 0; font-size: 150%; color: #01758c; }
p { margin: 0 0 20px 0; }
table { border: 2px solid #999; border-collapse: none; }
table th { padding: 3px 5px; font-weight: bold; background-color: #ddd; text-align: center; }
table.vert th { text-align: left; }
table td { padding: 3px 5px; background-color: #fff; text-align: left; }
table tr:nth-child(odd) td { background-color: #efefef; }
.error { color: red; }